package main

import (
    "log"

    // ottr:imports

	"github.com/alexstory/otters"
	"github.com/alexstory/otters/middleware"
)

func main() {
	app := otters.New()
	app.WithSettings(Settings)

    app.Use(middleware.Recover(Settings.Dev))
	app.Use(middleware.NotFound(&app))
	app.Use(middleware.DefaultLogger())

	// ottr:mounts

	app.Get("/{$}", func(ctx *otters.Ctx) {
		_ = ctx.Render("index.html", nil)
	})

	app.Get("/ping", func(ctx *otters.Ctx) {
		ctx.String("ok")
	})

	if err := app.Serve(); err != nil {
		log.Fatal(err)
	}

}
