package main

import (
    "log"

	"github.com/alexstory/otters"
)

func main() {
	app := otters.New()

	app.WithStatic("/static/", "./static")

	app.Get("/ping", func(ctx otters.Ctx) {
		ctx.String("ok")
	})

	if err := app.Serve(); err != nil {
		log.Fatal(err)
	}

}
